<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pdegraph -->
      <package
            uri="pdedependencies2dot"
            class="fr.inria.diverse.pdedependencies2dot.model.ModelPackage"
            genModel="model/pdegraph.genmodel"/>
   </extension>

</plugin>
